<style>
    .card-custom {
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 20px;
    }

    .book-btn {
        width: 100%;
        margin-top: 10px;
    }

    .services-table th,
    .services-table td {
        padding: 5px;
        border: 1px solid #ddd;
    }

    .rating-comment {
        border: 2px solid #ddd;
        padding: 20px;
        margin-top: 30px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .rating-comment h6 {
        font-weight: bold;
        margin-bottom: 20px;
    }

    .user-comment {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
    }

    .user-comment:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .star-rating {
        color: #FFD700;
        font-size: 1.2rem;
    }

    .user-name {
        font-weight: bold;
        margin-bottom: 5px;
    }
</style>

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8">
            <div class="card-custom">
                <img src="/public/img/background.jpg" class="img-fluid" alt="Tour Image">
                <div class="mt-2">
                    <h4 class="mt-2">{{tour.tour_name}}</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <span>⭐⭐⭐⭐⭐</span>
                    </div>
                    <p>Description: {{tour.description}}</p>
                </div>
            </div>
            <div class="card-custom">
                <h5>SERVICES</h5>
                <table class="table services-table">
                    <thead>
                        <tr>
                            <th>service_id</th>
                            <th>service_name</th>
                            <th>description</th>
                            <th>price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if services}}
                        {{#each services}}
                        <tr>
                            <td>{{this.service_id}}</td>
                            <td>{{this.service_name}}</td>
                            <td>{{this.description}}</td>
                            <td>{{this.price}}</td>
                        </tr>
                        {{/each}}
                        {{else}}
                        <tr aria-colspan="4">
                            <p>No tours available.</p>
                        </tr>
                        {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card-custom">
                <h6>LOCATION: {{location.location_name}}</h6>
                <h6>PRICE: {{tour.price}}</h6>
                <h6>DATE: {{tour.start_date}} - {{tour.end_date}}</h6>
                <h6>AVAILABILITY: {{tour.availability}}</h6>
                <a href="/tour/booking/{{tour.tour_id}}" target="_blank" class="btn btn-dark book-btn">BOOK</a>
            </div>
        </div>
    </div>
</div>

<div class="container my-4">
    <div class="rating-comment">
        <h6>RATING AND COMMENT</h6>
        {{#if services}}
        {{#each reviews}}
        <div class="user-comment">
            <div class="user-name">{{this.users_username}}</div>
            <div class="star-rating">
                {{#eachStar this.reviews_rating}}
                &#9733;
                {{/eachStar}}
                {{#eachEmptyStar this.reviews_rating}}
                &#9734;
                {{/eachEmptyStar}}
            </div>
            <p>{{this.reviews_comment}}</p>
        </div>
        {{/each}}
        {{/if}}
    </div>

</div>