<style>
    .container.tour {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    }

    h2 {
        font-weight: 600;
        color: #343a40;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        font-weight: 600;
        padding: 10px 20px;
    }

    .table thead {
        background-color: #e9ecef;
    }

    .table td,
    .table th {
        vertical-align: middle;
        text-align: center;
    }

    .table img {
        max-width: 100px;
        border-radius: 8px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    }

    .btn-sm {
        padding: 6px 12px;
        font-size: 0.875rem;
        font-weight: 600;
    }

    .btn-primary.btn-sm {
        background-color: #17a2b8;
        border-color: #17a2b8;
    }

    .btn-danger.btn-sm {
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .table-responsive {
        margin-top: 20px;
    }
</style>
<div class="container tour mt-5 mb-5">
    <h2 class="mb-4">TOUR MANAGEMENT</h2>
    <a href="/tour/create" class="btn btn-primary mb-3">CREATE NEW</a>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th scope="col">Mã tour</th>
                    <th scope="col">Tên tour</th>
                    <th scope="col">Điểm đến</th>
                    <th scope="col">Giá tour</th>
                    <th scope="col">Date From - Date To</th>
                    <th scope="col">availability</th>
                    <th scope="col">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                {{#if data}}
                {{#each data}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.tour_tour_name}}</td>
                    <td>{{this.location_location_name}}</td>
                    <td>{{this.tour_price}} VND</td>
                    <td>{{this.tour_start_date}} - {{this.tour_end_date}}</td>
                    <td>{{this.tour_availability}}</td>
                    <td>
                        <a href="/tour/edit/{{this.tour_tour_id}}" class="btn btn-sm btn-primary">Edit</a>
                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteTour" data-id="{{this.tour_tour_id}}">Xóa</button>
                    </td>
                </tr>
                {{/each}}
                {{else}}
                <tr>
                    <td colspan="7">There aren't any tours </td>
                </tr>
                {{/if}}
            </tbody>
        </table>
    </div>
</div>

<form method="post" name="delete-tour-form"></form>

<div class="modal fade show" id="deleteTour" tabindex="-1" aria-labelledby="deleteTourLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteTourLabel">Delete a Tour</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this tour?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        <button id="delete-tour-btn" type="button" class="btn btn-success">Yes</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var tourIdForDelete;
    const deleteTourButton = document.getElementById('delete-tour-btn');
    const deleteTourForm = document.forms['delete-tour-form'];

    $('#deleteTour').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      tourIdForDelete = button.data('id');
    });

    deleteTourButton.onclick = function () {
      deleteTourForm.action = '/tour/delete/' + tourIdForDelete + '?_method=DELETE';
      deleteTourForm.submit();
    };
  })
</script>